@model IEnumerable<TP4.Models.Student>




@{
    if (Model.Count() <= 0)
    {
        <h2 class="alert">No student  </h2>
    }
    else

    {
        <h1>@ViewBag.Id</h1>
        <div>

            @foreach (TP4.Models.Student s in Model)
            {
                <div>
                    @s.first_name
                </div>

            }

        </div>
    }


}


<a asp-controller="Course" asp-action="index"> Courses</a>