@model IEnumerable<String>
<div>
    @{
        foreach (String s in Model)
        {
            <a href="Course/getcourse/@s">
                <div>
                    @s
                </div>
            </a>
        }
    }
</div>
